[flake8]
# Intial set of rules
# Feel Free to add any new rule here with description of what it does.

# E203	Whitespace before ':'
# E266	Too many leading '#' for block comment
# E501	Line too long (82 > 79 characters)
# W503	Line break occurred before a binary operator
# F405  '<function>' may be undefined, or defined from star imports
# E402  module level import not at top of file
# E731  do not assign a lambda expression, use a def
# F821  undefined name 'get_ipython' --> from generated python files using nbconvert
# W605  invalid escape sequence '\W'

ignore = E203, E266, E501, W503, F405, E402, E731, F821, W605
max-line-length = 79
