[flake8]
# Intial set of rules
# Feel Free to add any new rule here with description of what it does.

# E203	Whitespace before ':'
# E266	Too many leading '#' for block comment
# E501	Line too long (82 > 79 characters)
# W503	Line break occurred before a binary operator
# F403	'from module import *' used; unable to detect undefined names
# F405  '<function>' may be undefined, or defined from star imports
# E402  module level import not at top of file

ignore = E203, E266, E501, W503, F403, F405, E402
max-line-length = 79
