[submodule "contrib/crowd_counting/crowdcounting/third_party/tf-pose-estimation"]
	path = contrib/crowd_counting/crowdcounting/third_party/tf-pose-estimation
	url = https://github.com/lixzhang/tf-pose-estimation.git
[submodule "contrib/crowd_counting/crowdcounting/third_party/mcnn"]
	path = contrib/crowd_counting/crowdcounting/third_party/mcnn
	url = https://github.com/lixzhang/crowdcount-mcnn.git
